body{
  background-color: white;
  padding : 2%;
  width : auto;
  margin : 0 20px 0 0;
  font-size : 20px;
  border-radius : 40px
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}
nav img {
  width: 150px;
  height: 60px;
  border-radius : 40px
}
.bar {
    float: right;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px;
}
form{
    width: 70px;
    padding: 20px;
    border: 10px solid white;
    margin: 10px;
    border-radius : 40px
}
pre{
    text-size-adjust: 15;
    font-size: 30px;
    font-family : arial , sans-serif;
    letter-spacing: 1px;
    color:black;
    padding: 10px;
    border: 10px solid white;
}
.image-contaire{
    display: inline;
    gap: 1px;
}

img {
    width: 300px;
    height: auto;
    border-radius : 20px
}
table{
    background-color: white;
}
td:nth-child(even){
    border: 1px solid white;
    padding: 5px;
}
tr:nth-child(even){
    background-color: white;
}
nav{
    width: 100%;
    background-color: white;

}
