body {
    display: center;
    font-family: Arial, sans-serif;
    height: auto;
    margin : 0 20px 0 0;
    font-size : 20px;
    border-radius : 40px;
    background-color: #fff;
    color: #000;
}

header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
}

.logo {
    display: flex;
    font-size: 10px;
    margin: 0 25px;
    font-weight: bold;
}

nav a {
    display: right;
    font-size: 15px;
    margin: 0 15px;
    text-decoration: none;
    color: #000;
}
.btn {
    float: right;
    padding: 10px;
    font-size: 10px;
    border: none;
    background-color: #030303;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px;
}

table{
    background-color: white;
    display: center;
}
td:nth-child(even){
    border: 5px solid white;
    padding: 10px;
    width: 100px;
}
tr:nth-child(even){
    background-color: white;
}

h1 {
    font-size: 48px;
    line-height: 1.2;
} 
p {
    font-size: 18px;
    line-height: 1.5;
    margin: 20px 0;
}
.p0 img{
    width: 120px;
    height: auto;
    border-radius: 5px;
} 

form {
    display: center;
    margin: 10px;
    border: 10px solid white;
    width: 400px;
    height: auto;
}

form input[type="email"] {
    padding: 20px 30px;
    font-size: 10px;
    flex: 1;
    border: 2px solid white;
    background-color: rgb(172, 172, 169);
    border-radius: 10px;
}

button {
    padding: 20px 30px;
    font-size: 14px;
    border: none;
    background-color: #04e917;
    color: black;
    cursor: pointer;
    border-radius: 10px;
}

.image-container {
    display: flex;
    align-items: right;
    margin-top: 20px;
}

img {
        width: 400px;
        height: auto;
        border-radius : 40px
}
.logo img{
    width: 40px;
    height: 40px;
    border: 20px solid white;
    margin-right: 1px;
}
.log {
    padding: 10px;
    font-size: 10px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px;
}

